@charset "utf-8";
/*
再利用可能な全てのオブジェクトを記述します。
All objects that are reusable will be written.

接頭辞はComponentの頭文字を取って【c_】とします。
Prefix will take the "Component" first letter and use it as "c_".

ここで指定するのは以下の様なものと予想されます。
You might use the following.
.c_btn/.c_breadclumb/.c_hero/.c_serch/.c_dropdown/
.c_card/.c_feature/.c_overlay/.c_form/.c_thumbnail/.c_box

モディファイヤを使用する場合は接頭辞【is_】をつけ、各コンポーネントの下に記述します。
When using modifier put the prefix "is_" and write it under each component.

フォントサイズはremで指定します。
"rem" will be used for font-size.

//sample
.c_btn {
	display: inline-block;
	padding: 15px 20px;
	border-radius: 5px;
	text-decoration: none;
}
.c_btn:hover { opacity: 0.8; }
.c_btn.is_btn_disable { cursor: inherit; }
.c_btn.is_btn_blue{
	color: rgb(255, 255, 255);
	background: rgb(1, 153, 224) none repeat scroll 0% 0%;
}

*/
/*----------------------------------------------
	.class name
---------------------------------------------*/
/*----------------------------------------------
	.c_nav_type01
---------------------------------------------*/
.c_nav_type01 {
  list-style: none;
  /* background: #ddd; */
}
.c_nav_type01 li:not(:last-of-type) a,
.c_nav_type01 li:not(:last-of-type) span{
  /* border-bottom: 1px solid #ccc; */
}
.c_nav_type01 li a,
.c_nav_type01 li span{
  display: block;
  padding: 13px 15px;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-align: left;
  position: relative;
  line-height: 1.3;
  margin-bottom: 5px;
  /*background: url(../images/nav_arrow.png) 91% 50% no-repeat;*/
}

.c_nav_type01 li:hover a,
.c_nav_type01 li.active a {
  /*background: url(../images/nav_active_arrow.png) 91% 50% no-repeat, url(../images/nav_active.png);*/
  /* color: #000; */
  background: #3c3d36;
	/* font-weight: bold; */
  border-radius: 5px;
}
.c_nav_type01 li.is_external a::after,
.c_nav_type01 li.is_pdf a::after,
.c_nav_type01 li.is_word a::after,
.c_nav_type01 li.is_ppt a::after,
.c_nav_type01 li.is_excel a::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}
.c_nav_type01 li.is_external a::after {
  background: url(../images/icon_external_nav.png) no-repeat;
}
.c_nav_type01 li.is_external a:hover::after {
  background: url(../images/icon_external_nav_o.png) no-repeat;
}
.c_nav_type01 li.is_pdf a::after {
  background: url(../images/icon_pdf.png) no-repeat;
}
.c_nav_type01 li.is_word a::after {
  background: url(../images/icon_word.png) no-repeat;
}
.c_nav_type01 li.is_ppt a::after {
  background: url(../images/icon_powerpoint.png) no-repeat;
}
.c_nav_type01 li.is_excel a::after {
  background: url(../images/icon_excel.png) no-repeat;
}
/*----------------------------------------------
	.c_nav_type02
---------------------------------------------*/
.c_nav_type02 * {
  list-style: none;
}
.c_nav_type02 li:not(:last-of-type) a,
.c_nav_type02 li:not(:last-of-type) span{
  border-bottom: 1px solid #ccc;
}
.c_nav_type02 li span,
.c_nav_type02 li a {
  padding-left: 18px;
  display: block;
  padding: 12px 10px;
}
.c_nav_type02 li a {
  padding-left: 20px;
}
.c_nav_type02 > li {
  display: block;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  position: relative;
  line-height: 1.3;
  /*background: url(../images/nav_arrow.png) 91% 50% no-repeat;*/
}

.c_nav_type02 > li ul > li:hover a,
.c_nav_type02 > li ul > li.active a {
  /*background: url(../images/nav_active_arrow.png) 91% 50% no-repeat, url(../images/nav_active.png);*/
  color: #000;
  background: #ccc;
}
.c_nav_type02 li.is_external a::after,
.c_nav_type02 li.is_pdf a::after,
.c_nav_type02 li.is_word a::after,
.c_nav_type02 li.is_ppt a::after,
.c_nav_type02 li.is_excel a::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 18px;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
}
.c_nav_type02 li.is_external a::after {
  background: url(../images/icon_external_nav.png) no-repeat;
  background-size: 100%;
}
.c_nav_type02 li.is_external a:hover::after {
  background: url(../images/icon_external_nav_o.png) no-repeat;
  background-size: 100%;
}
.c_nav_type02 li.is_pdf a::after {
  background: url(../images/icon_pdf.png) no-repeat;
  background-size: 100%;
}
.c_nav_type02 li.is_word a::after {
  background: url(../images/icon_word.png) no-repeat;
  background-size: 100%;
}
.c_nav_type02 li.is_ppt a::after {
  background: url(../images/icon_powerpoint.png) no-repeat;
  background-size: 100%;
}
.c_nav_type02 li.is_excel a::after {
  background: url(../images/icon_excel.png) no-repeat;
  background-size: 100%;
}

/*----------------------------------------------
	.c_contact_type01
---------------------------------------------*/
.c_contact_type01 {
	background: #ddd;
  width: 100%;
}
.c_contact_type01 .c_contact_header {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 9px 0px 9px 12px;
  border-bottom: 2px solid #ccc;
}
.c_contact_type01 .c_contact_details {
  padding: 12px;
  line-height: 1.5;
}
/*----------------------------------------------
  .c_contact_type02
---------------------------------------------*/
.c_contact_type02{
  background: #ddd;
  border: 2px solid #aaa;
}
.c_contact_type02 .c_contact_header {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 9px 0px 9px 12px;
  border-bottom: 2px solid #ccc;
}
.c_contact_type02 .c_contact_details {
  padding: 12px;
  line-height: 1.5;
}

/*----------------------------------------------
  .c_contact_type03
---------------------------------------------*/
.c_contact_type03:first-child:after {
  content: "";
  background: #44160b;
  width: 1px;
  height: 123px;
  position: absolute;
  right: -1px;
  top: 12px;
}
.c_contact_type03 {
  padding:0 50px;
  position: relative;
}
.c_contact_type03 .c_contact_header {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #bbb;
	display: inline-block;
}
.c_contact_type03 .c_contact_details {
  padding: 15px;
  line-height: 1.5;
}

/*----------------------------------------------
  .c_contact_type04
---------------------------------------------*/
.c_contact_type04 {
	background: #ccc;
}
.c_contact_type04 .c_contact_header {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #bbb;
	display: inline-block;
	vertical-align: top;
}
.c_contact_type04 .c_contact_details {
  padding: 0;
  line-height: 1.5;
	display: inline-block;
}

/*----------------------------------------------
  .c_contact_type05
---------------------------------------------*/
.c_contact_type05 {
	background: #ccc;
  width: 100%;
}
.c_contact_type05 .c_contact_header {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #bbb;
	display: block;
	vertical-align: top;
}
.c_contact_type05 .c_contact_details {
  line-height: 1.5;
	display: block;
  padding: 20px;
}

/*----------------------------------------------
  .c_news_type01
---------------------------------------------*/
.c_news_type01 {
  max-height: 150px;
  overflow-y: auto;
  position: relative;
  font-size: 1.5rem;
  color: #000;
}
.c_news_type01 dt,
.c_news_type01 dd {
  padding-top: 15px;
}
.c_news_type01 dt {
  float: left;
  clear: left;
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.c_news_type01 dd {
  padding-left: 132px;
  word-wrap: break-word;
  padding-right: 20px;
  padding-bottom: 15px;
}
.c_news_type01 dt:not(:first-of-type) {
  margin-top: 2px;
}
.c_news_type01 dd:not(:first-of-type) {
  border-top: 2px dotted #aaa;
}

/*----------------------------------------------
  	.c_news_type02
  ---------------------------------------------*/
.c_news_type02 {
  max-height: 148px;
  overflow-y: auto;
  position: relative;
  font-size: 1.5rem;
  color: #000;
}
.c_news_type02 dt {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 15px 10px 0;
}
.c_news_type02 dd {
  padding: 5px 10px;
  word-wrap: break-word;
}
.c_news_type02 dt:not(:first-of-type) {
  border-top: 2px dotted #aaa;
}
/*----------------------------------------------
  	.c_ttl_type01
  ---------------------------------------------*/
.c_ttl_type01 {
  font-size: 3rem;
  font-weight: bold;
  background: #ccc;
  color: #000;
  padding: 15px 20px;
}

/*----------------------------------------------
    .c_ttl_type02
---------------------------------------------*/
.c_ttl_type02 {
  font-size: 2.2rem;
  font-weight: bold;
	background: #ccc;
  color: #000;
	padding: 8px 15px;
}

/*----------------------------------------------
    .c_ttl_type03
---------------------------------------------*/
.c_ttl_type03 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  padding: 5px 15px;
  position: relative;
  border-bottom: 1px solid #aaa;
}
.c_ttl_type03::before {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  background: #aaa;
  background-size: contain;
  top: 0;
  bottom: 0;
	left: 0;
  margin: auto 0;
}

/*----------------------------------------------
    .c_ttl_type04
---------------------------------------------*/
.c_ttl_type04 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  position: relative;
}

/*----------------------------------------------
    .c_ttl_type05
---------------------------------------------*/
.c_ttl_type05 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  position: relative;
}

/*----------------------------------------------
  	.c_para_type01
---------------------------------------------*/
.c_para_type01 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_para_type02
---------------------------------------------*/
.c_para_type02 {
  text-indent: 1em;
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_kome_type01
---------------------------------------------*/
.c_kome_type01 {
  text-indent: -1em;
  padding-left: 1em;
}

/*----------------------------------------------
	.c_table_type01
---------------------------------------------*/
.c_table_type01 {
  width: 100%;
}

.c_table_type01 thead th {
  background: #aaa;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}
.c_table_type01 th {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
  color: #323333;
  background: #ddd;
}

.c_table_type01 th,
.c_table_type01 td {
  padding: 14px;
  border: 1px solid #bbb;
}

/*----------------------------------------------
	.c_table_type02
---------------------------------------------*/
.c_table_type02 {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.c_table_type02 tr:nth-child(odd) {
  /* background: #ddd; */
}

.c_table_type02 th {
  color: #000;
}

.c_table_type02 th, 
.c_table_type02 td {
    padding: 2px 5px;
    text-align: left;
}

.c_table_type02 tr {
    border-bottom: 1px solid #3C3D37;
}

/*----------------------------------------------
	.c_table_type03
---------------------------------------------*/
.c_table_type03 {
	width: 100%;
	border-top: 3px solid #aaa;
}

.c_table_type03 th {
  color: #333;
  white-space: pre-wrap;
  font-weight: bold;
  text-align: center;
}

.c_table_type03 th,
.c_table_type03 td {
	text-align: center;
  padding: 10px;
	border: 1px solid #aaa;
}

/*----------------------------------------------
	.c_table_type04
---------------------------------------------*/
.c_table_type04 tr > * {
  vertical-align: top;
  border: 1px solid #333;
}

/* FOR COLORED LIST TYPE */
/*----------------------------------------------
	.c_list_type01
---------------------------------------------*/
.c_list_type01 {
  vertical-align: top;
}

.c_list_type01 li {
  list-style: none;
  position: relative;
	padding-left: .8em;
}

.c_list_type01.is_decimal li {
  padding-left: 1.8em;
}

.c_list_type01 li::before {
  color: #ffd14e;
  position: absolute;
  display: inline-block;
  width: 10px;
  vertical-align: middle;
  top: 8px;
  left: 0;
}

.c_list_type01.is_arrow li::before {
  content: "";
  width: 15px;
  height: 7px;
  background: url(../images/list_arrow.png) no-repeat;
}
.c_list_type01.is_square li::before {
  content: "";
	width: 8px;
	height: 8px;
	background: #ffd14e;
}

.c_list_type01.is_disc li::before {
  content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #ffd14e;
	top: 10px;
}

.c_list_type01.is_triangle li::before {
  content: "";
	width: 0;
  height: 0;
  border: solid 5px transparent;
  border-left: solid 7px #ffd14e;
	top: 7px;
}

.c_list_type01.is_diamond li::before {
	content: "";
  width: 6px;
  height: 6px;
  background: #ffd14e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
	top: 9px;
}

.c_list_type01.is_decimal {
  counter-reset: is_decimal_counter;
}
.c_list_type01.is_decimal li::before {
  counter-increment: is_decimal_counter;
  content: counter(is_decimal_counter) ".";
  font-weight: bold;
  text-align: right;
  width: 25px;
  margin-right: 5px;
  color: #418ac5;
  vertical-align: unset;
  top: 0;
}


/* FOR SIMPLE LIST TYPE */
/*----------------------------------------------
	.c_list_type02
---------------------------------------------*/
.c_list_type02 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
  padding-left: 20px;
}

.c_list_type02 li {
  margin-bottom: 5px;
}

.c_list_type02.is_disc li {
  list-style: disc;
}

.c_list_type02.is_decimal li{
  list-style: decimal;
}
/*----------------------------------------------
	.c_btn_type01
---------------------------------------------*/
.c_btn_type01 {
  display: inline-block;
  padding: 15px 20px;
  min-width: 240px;
  text-decoration: none!important;
  color: #fff!important;
  position: relative;
  background: #ffb400;
  box-shadow: 0 5px 0 0 #ef9e01;
  border-radius: 25px;
}
a.c_btn_type01:hover {
  background: #fd9628;
  box-shadow: 0 5px 0 0 #e38414;
}

span.c_btn_type01,
.c_btn_type01.is_disable {
  background: #ccc;
  box-shadow: 0 5px 0 0 #aaa;
	pointer-events: none;
}
.c_btn_type01.is_w250 { width: 250px; }
.c_btn_type01.is_w320 { width: 320px; }
.c_btn_type01.is_w400 { width: 400px; }

.c_btn_type01.is_word::before,
.c_btn_type01.is_excel::before,
.c_btn_type01.is_ppt::before,
.c_btn_type01.is_pdf::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
	right: 10px;
  width: 22px;
  height: 22px;
  margin: auto auto auto 10px;
  vertical-align: middle;
}
.c_btn_type01.is_word::before {
  background: url(../images/icon_btn_word.png) no-repeat;
  background-size: 100%;
}
.c_btn_type01.is_excel::before {
  background: url(../images/icon_btn_excel.png) no-repeat;
  background-size: 100%;
}
.c_btn_type01.is_ppt::before {
  background: url(../images/icon_btn_powerpoint.png) no-repeat;
  background-size: 100%;
}
.c_btn_type01.is_pdf::before {
  background: url(../images/icon_btn_pdf.png) no-repeat;
  background-size: 100%;
  width: 16px;
  height: 20px;
}

/*----------------------------------------------
	.c_box_type01
---------------------------------------------*/
.c_box_type01 {
  padding: 15px;
  background: #e1f5ff;
  border: 1px solid #418ac5;
}
.c_box_type01_header {
  font-weight: bold;
  color: #0166b2;
  font-size: 1.6rem;
}

/*----------------------------------------------
	.c_box_type02
---------------------------------------------*/
.c_box_type02 {
  padding: 15px;
  background: #fff4e5;
  border: 1px solid #fe9b21;
}

.c_box_type02_header {
  font-weight: bold;
  color: #fe9b21;
  font-size: 1.6rem;
}

/*----------------------------------------------
	.c_box_type03
---------------------------------------------*/
.c_box_type03 {
  padding: 15px;
  border: 1px solid #ee2b29;
  color: #ee2b29;
}

/*----------------------------------------------
.c_anchor_icon
---------------------------------------------*/
a.c_anchor_icon{
  display: inline-block;
  padding-right: 20px;
}
a.c_anchor_icon.is_inline {
	display: inline;
}

a[href^="http://"].c_anchor_icon,
a[href^="https://"].c_anchor_icon {
  background: url(../images/icon_external.png) no-repeat right center;
}

a[href$=".xls"].c_anchor_icon,
a[href$=".xlsx"].c_anchor_icon {
  background: url(../images/icon_excel.png) no-repeat right center;
}

a[href$=".doc"].c_anchor_icon,
a[href$=".docx"].c_anchor_icon {
  background: url(../images/icon_word.png) no-repeat right center;
}

a[href$=".ppt"].c_anchor_icon,
a[href$=".pptx"].c_anchor_icon {
  background: url(../images/icon_powerpoint.png) no-repeat right center;
}

a[href$=".pdf"].c_anchor_icon {
  background: url(../images/icon_pdf.png) no-repeat right center;
}


.c_main_logo {
  width: 100%;
  padding: 20px;
}

.l_main_ttl_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c_main_content_count {
    margin-top: 10px;
    font-size: 40px;
    padding: 0 40px;
    background-color: #D9D9D9;
    color: #1E201E;
    font-weight: bold;
    border-radius: 10px;
}

.c_list_main_container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;   /* tags wrap on small screens */
}

.c_tag {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding: 4px 10px;
    border-radius: 12px;
    background-color: #ccc;
    /* cursor: pointer; */
    /* font-size: clamp(0.8rem, 1.5vw, 1.2rem); */
    font-size: 0.8em;
}

.tag-box.default {
    background-color: #607D8B;
}


.c_tag.pending {
  background-color: #FFC107;
}

.c_tag.completed {
  background-color: #28a745;
}

.tag-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  /* margin-left: 8px; */

}

.tag-box.default {background-color: #607D8B;}
.tag-box.personal {background-color: #4CAF50;}
.tag-box.work {background-color: #2196F3;}
.tag-box.school {background-color: #9C27B0;}
.tag-box.groceries {background-color: #4CAF50;}
.tag-box.household {background-color: #f99a24;}
.tag-box.clothing {background-color: #2196F3;}
.tag-box.electronics {background-color: #9C27B0;}
.tag-box.wellness {background-color: #E91E63;}
.tag-box.gifts {background-color: #FF5722;}
.tag-box.tools {background-color: #795548;}
.tag-box.pets {background-color: #03A9F4;}
.tag-box.split {background-color: #008080;}



/* the popup box */
.tag-popup {
    display: none;
    position: absolute;
    /* top: 120%; */
    top: -120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 1.2rem;
    z-index: 10;
}

/* show popup on hover */
.c_tag:hover .tag-popup {
    display: block;
}

.c_filter_tags {
  width: 110px;
  background-color: #fff;
  border: none;
  font-weight:lighter;
  letter-spacing: 2px;
  height: 25px;
  margin-left: 10px;
}

/* individual colors for your categories */
.c_tag.personal {background-color: #4CAF50;}
.c_tag.work{background-color: #2196F3;}
.c_tag.default {background-color: #607D8B; /* red */}
.c_tag.school {background-color: #9C27B0; /* purple */}
.c_tag.pending{background-color: #FFC107;}
.c_tag.groceries { background-color: #4CAF50; color: #fff; }
.c_tag.household { background-color: #FF9800; color: #fff; }
.c_tag.clothing { background-color: #2196F3; color: #fff; }
.c_tag.electronics { background-color: #9C27B0; color: #fff; }
.c_tag.wellness { background-color: #E91E63; color: #fff; }
.c_tag.gifts { background-color: #FF5722; color: #fff; }
.c_tag.tools { background-color: #795548; color: #fff; }
.c_tag.pets { background-color: #FF69B4; color: #fff; }
.c_tag.split { background-color: #008080; color: #fff; }


.c_task_input_main_container {
    display: flex;
    /* width: 93%; */
    position: relative;
    /* flex-wrap: wrap; */
    margin-top: 20px;
}
.c_task_input {
    background-color: #3C3D37;
    width: 100%;
    /* padding-left: 220px; */
    padding-left: 20px;
    padding-right: 245px;
}

.c-tag-options {
    position: absolute;
    right: 100px;
    height: 30px;
    /* width: 100px; */
    text-align: left;
    /* padding-left: 30px; */
    padding: 0 15px;
    margin-right: 20px;
    border-radius: 20px;
}
.c_task_submit_input_container {
    position: absolute;
    right: 0;
}

.c_task_input_main_container input {
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: unset;
    height: 30px;
}
.c_task_submit_input {
    background-color: #4CAF50;
    border: 1.8px solid #3EBA52;
    width: 120px;
    font-weight: bold;
    cursor: pointer !important;
    font-size: 13px;
}

.c_task_list_left .task-title {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 3px;
    width: 100%;
    /* padding: 5px 10px; */
    padding: 5px 0px;
    padding-left: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}
.task-title {
    cursor: pointer;
    /* color: #025043; */
}
.c_task_list_left .task-title:hover {
  color: #1e201d;
  background-color: #d9d9d9;
  text-decoration: none;
  border-radius: 3px;
}

.c_task_list_left>div {
    width: 90%;
}

.success-message,
.error-message {
    opacity: 1; /* stays visible */
}


.message {
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 15px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    animation: fadeInMessage 1s ease forwards;
    animation-delay: 0.2s;
    opacity: 1; /* <- keeps it visible */
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    animation: shakeFadeIn 0.8s ease forwards;
    animation-delay: 0.2s;
    opacity: 1; /* <- keeps it visible */
}


/* Success Animation */
@keyframes fadeInMessage {
    from {
        opacity: 0;
        transform: translateY(-10px); /* slight upward */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Error Animation */
@keyframes shakeFadeIn {
    0% { opacity: 0; transform: translateX(-10px); }
    25% { opacity: 1; transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.c_task_list_left {
    /* width: 420px; */
    width: 100%;
    justify-content: space-between;
}

.c_task_list_left .task-title {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 3px;
    width: 100%;
    /* padding: 5px 10px; */
    padding: 5px 0px;
    padding-left: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.task-title,
.c-complete-checkbox {
    cursor: pointer;
    /* color: #025043; */
}

.c_task_list_close_btn {
    width: 30px;
    margin-top: 5px;
    color: #ffff;
    background-color: #A84033;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}


.c_todo_ttl {
  /* font-size: larger; */
  font-weight: bold;
}

.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
}

.c_table_type02 {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}


/* WebKit browsers (Chrome, Edge, Safari) */
.table-wrapper::-webkit-scrollbar {
    width: 2px; /* thin scrollbar */
}

/* Remove scrollbar arrows */
.table-wrapper::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

/* Scrollbar track */
.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; /* rounded track */
}

/* Scrollbar thumb */
.table-wrapper::-webkit-scrollbar-thumb {
    /* background: #F89925; */
   background: #2196F3;
    border-radius: 5px; /* rounded ends */
}

/* Hover effect */
.table-wrapper::-webkit-scrollbar-thumb:hover {
    /* background: #d97910; */
    background: #0f60a3;
}


.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999; /* bring modal above everything */
}

.modal-content {
    background: #1E201E;
    padding: 30px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 400px;
    position: relative;
    border: 1px solid #fff;
    z-index: 10000; /* ensure content is above modal background */
}


.modal-content input,
.modal-content select
 {
    background-color: transparent;
    border: none;
    color: #F89925;

}

.modal-content input,
.modal-content select {
    color: #ffff;
}

.modal-content input:focus,
.modal-content select:focus {
    background-color:#ffff;
    color: #1E201E;
}

select option {
    color: #1E201E; /* text color inside dropdown */
    background-color: white; /* optional */
}

.modal-content [type="time"]::-webkit-calendar-picker-indicator,
.modal-content input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(63%) sepia(64%) saturate(3910%) hue-rotate(356deg) brightness(101%) contrast(97%);
    cursor: pointer;
}

.modal-content input[type="file"]::file-selector-button {
    /* background-color: #F89925;  */
    background-color: #ffff; 
    color: #1E201E;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}


.modal-content label {
    font-weight: bold;
    /* color: #2196F3; */
}

.modal.show {
    display: flex;
}
.close {
    cursor: pointer;
    /* float: right;  */
    font-size: 20px;
    width:30px;
    text-align: center;
    margin-top: 5px;
    color: #ffff;
    background-color: #A84033;
    border: none;
    font-weight: bold;
    cursor: pointer; 
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

.close a {
    color: #fff;
    text-decoration: none;
}